services:

    # Repositories
    - Wakers\CategoryModule\Repository\CategoryRepository

    # Managers
    - Wakers\CategoryModule\Manager\CategoryManager

    # Components
    - Wakers\CategoryModule\Component\Frontend\Modal\IModal
    - Wakers\CategoryModule\Component\Frontend\RemoveModal\IRemoveModal

parameters:
    acl:
        - Wakers\CategoryModule\Security\CategoryAuthorizator